<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="images/Black White Modern Luxury Logo (1).png">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Yaseen Omeira</title>
</head>
<body>
    <main class="container">
        <div class="hero">
            <nav class="navbar">
                <div class="logo-container"><a href="#" class="logo"><img src="images/Black And White Minimalist Typography Personal Logo.png" alt="logo"></a></div>
                <div class="links">
                    <a href="#" class="link">About</a>
                    <a href="#" class="link">Services</a>
                    <a href="#" class="link">Portfolio</a>
                    <a href="#" class="link">Blog</a>
                </div>
            </nav>
            <div class="cont-hero"></div>
        </div>
    </main>
</body>
</html>